# Lab Assignment 6
## This Lab task is to completed individually, Please Add your Name and ID Below, please comment your code thoroughly and name your variables wisely. (Grade out of 23, 3 marks for commented organized code.)
- Name: Parveen Kumar
- ID: 8822123

### Question 1- DATA INTEGRATION:  (5)
Check the files inside microbiome folder, (MID1, MID2, ... , MID9.xls files), you need to combine those files into single dataframe.<br>
Then You will need to add to this dataframe the relevant metadata information from metadata.csv <br>
__Inspect the files before answering the question__

In [1]:
import numpy as np
import pandas as pd

In [3]:
folder = 'E:\Semester-3\Islam\Microb'

In [37]:
combined_df = pd.DataFrame()
for i in range(1, 10):
    file_path = os.path.join(folder, f"MID{i}.xls")
    if os.path.isfile(file_path):
        xls_df = pd.read_excel(file_path, header=None)  # Assuming no header in the xls files
        combined_df = pd.concat([combined_df, xls_df], axis=0)

In [82]:
header = ['Bacteria Desc', 'Group']  # Replace with your actual column names
combined_df.columns = header

In [83]:
combined_df.head()

                                       Bacteria Desc  Group
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      7
1  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      2
2  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...      3
3  Archaea "Crenarchaeota" Thermoprotei Thermopro...      3
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...      7

In [48]:
combined_df.shape

(2396, 2)

In [49]:
# Read the metadata file
metadata_file = 'E:\Semester-3\Islam\Microb/metadata.csv'
metadata_df = pd.read_csv(metadata_file)

In [50]:
metadata_df.head()

  BARCODE               GROUP  SAMPLE
0    MID1  EXTRACTION CONTROL     NaN
1    MID2               NEC 1  tissue
2    MID3           Control 1  tissue
3    MID4               NEC 2  tissue
4    MID5           Control 2  tissue

In [51]:
X=metadata_df.iloc[:,1:]

In [52]:
X.head()

                GROUP  SAMPLE
0  EXTRACTION CONTROL     NaN
1               NEC 1  tissue
2           Control 1  tissue
3               NEC 2  tissue
4           Control 2  tissue

In [53]:
X.shape

(9, 2)

In [56]:

merged_df = pd.concat([combined_df, X], axis=1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [57]:
merged_df.head()

  BARCODE               GROUP  SAMPLE               GROUP  SAMPLE
0    MID1  EXTRACTION CONTROL     NaN  EXTRACTION CONTROL     NaN
1    MID2               NEC 1  tissue               NEC 1  tissue
2    MID3           Control 1  tissue           Control 1  tissue
3    MID4               NEC 2  tissue               NEC 2  tissue
4    MID5           Control 2  tissue           Control 2  tissue

### Question 2- Feature Engineering - Attribute Correlation (15)
- Load the file income_data.csv, inspect the columns.
- Determine if race and education features have a statistical relationship. 
- Explain and conclude your findings (7 till here)
- Inspect the dataset carefully and create an Indicator Feature (0/1) --(3 marks here)
- Inspect the dataset carefully and create an Interaction Feature -- (3 marks here)<br>
__The features you create must be resonable, please add an explanation to explain why did you chose this indicator variable__

In [59]:
# Iport income csv

In [58]:
df_2=pd.read_csv('E:\Semester-3\Islam\Microb\income_data.csv')

In [60]:
df_2.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

 # 'race' and 'education' features have a statistical relationship:

In [64]:
# Check the relationship between 'race' and 'education' using a contingency table
comparison = pd.crosstab(df_2['race'], df_2['education'])
print("\ncomparison",comparison)

comparison education           10th  11th  12th  1st-4th  5th-6th  7th-8th  9th  \
race
Amer-Indian-Eskimo    22    26     5        4        2       10    9
Asian-Pac-Islander    16    27    15       10       28       14   10
Black                182   252   105       24       41       90  111
Other                 11    22    17       13       23       23   15
White               1158  1485   515      196      415      818  611

education           Assoc-acdm  Assoc-voc  Bachelors  Doctorate  HS-grad  \
race
Amer-Indian-Eskimo          13         31         29          3      176
Asian-Pac-Islander          49         53        408         46      336
Black                      161        165        504         16     1780
Other                       10          9         50          3      105
White                     1368       1803       7034        526    13387

education           Masters  Preschool  Prof-school  Some-college
race
Amer-Indian-Eskimo       13          1            2           124
Asian-Pac-Islander      140          7           58           302
Black                   143         12           21          1078
Other                    13          2            5            85
White                  2348         61          748          9289

In [66]:
# Perform a chi-square test for independence
from scipy.stats import chi2_contingency
chi2, p_value, _, _ = chi2_contingency(comparison)
print("\nChi-square test p-value:", p_value)

Chi-square test p-value: 7.472985630264854e-179

In [67]:
# Determine if there is a statistical relationship between 'race' and 'education'

In [68]:
if p_value < 0.05:
    print("\nThere is a statistical relationship between race and education.")
else:
    print("\nThere is no statistical relationship between race and education.")

There is a statistical relationship between race and education.

In [76]:
df_2['education'].unique()

array(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th',
       'Prof-school', '7th-8th', 'Bachelors', 'Masters', 'Doctorate',
       '5th-6th', 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool'],
      dtype=object)

In [77]:
# Create an Indicator Feature (0/1) for 'education'
df_2['education_indicator'] = (df_2['education'] == 'Doctorate').astype(int)

In [78]:
df_2.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,education_indicator
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,0
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,0
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,0

# Reason
The choice of creating an indicator variable for higher levels of education (Bachelors, Masters, and Doctorate) is based on the assumption that individuals with advanced degrees may have a higher likelihood of earning higher incomes. Thus, this indicator variable can be used to capture the potential impact of higher education on income levels.

In [80]:
# Create an Interaction Feature between 'age' and 'hours_per_week'
df_2['age_hours_interaction'] = df_2['age'] * df_2['hours-per-week']

In [81]:
df_2.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,education_indicator,age_hours_interaction
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,0,1000
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,0,1900
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,0,1120
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,0,1760
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,0,540